In [40]:
import numpy as np
import pandas as pd

In [1]:
DATA_PATH = './data/'

In [87]:
# NOT: Date columnının adını date olarak bırakmam lazım. Merge edebilmek için!!!!!
'''
new_names = [(i,i+'_x') for i in df.iloc[:, 2:].columns.values]
df.rename(columns = dict(new_names), inplace=True)

new_names = [(i,i+'_x') for i in df.columns if i not in ['col1','col2']]
'''

USD_TRY = pd.read_csv(f"{DATA_PATH}USDTRY=X.csv")
USD_TRY.columns = [str(col) + '_USD_TRY' for col in USD_TRY.columns]

XU_100 = pd.read_csv(f"{DATA_PATH}XU100.IS.csv")
XU_100.columns = [str(col) + '_XU_100' for col in XU_100.columns]

TUPRS = pd.read_csv(f"{DATA_PATH}TUPRS.IS.csv")
TUPRS.columns = [str(col) + '_TUPRS' for col in TUPRS.columns]

THY = pd.read_csv(f"{DATA_PATH}THYAO.IS.csv")
THY.columns = [str(col) + '_THY' for col in THY.columns]

ASELS = pd.read_csv(f"{DATA_PATH}ASELS.IS.csv")
ASELS.columns = [str(col) + '_ASELS' for col in ASELS.columns]

In [75]:
USD_TRY.head()

,Date_USD_TRY,Open_USD_TRY,High_USD_TRY,Low_USD_TRY,Close_USD_TRY,Adj Close_USD_TRY,Volume_USD_TRY
0,2005-01-03,1.3455,1.3455,1.3368,1.3440,1.3440,0.0
1,2005-01-04,1.3368,1.3510,1.3368,1.3510,1.3510,0.0
2,2005-01-05,1.3545,1.3865,1.3545,1.3740,1.3740,0.0
3,2005-01-06,1.3780,1.4058,1.3780,1.3925,1.3925,0.0
4,2005-01-07,1.3870,1.3940,1.3615,1.3940,1.3940,0.0

In [76]:
XU_100.head()

,Date_XU_100,Open_XU_100,High_XU_100,Low_XU_100,Close_XU_100,Adj Close_XU_100,Volume_XU_100
0,1997-07-01,1857.0,1864.0,1826.0,1851.0,1851.0,2342600.0
1,1997-07-02,1851.0,1877.0,1849.0,1873.0,1873.0,2946200.0
2,1997-07-03,1873.0,1916.0,1871.0,1912.0,1912.0,3660300.0
3,1997-07-04,1912.0,1936.0,1897.0,1918.0,1918.0,3411100.0
4,1997-07-07,1918.0,1963.0,1918.0,1953.0,1953.0,3045500.0

In [77]:
TUPRS.head()

,Date_TUPRS,Open_TUPRS,High_TUPRS,Low_TUPRS,Close_TUPRS,Adj Close_TUPRS,Volume_TUPRS
0,2000-05-10,11.343283,11.492537,11.044776,11.343283,2.129507e+09,1728772.0
1,2000-05-11,10.746268,11.194029,10.597014,10.746268,2.017427e+09,888562.0
2,2000-05-12,11.044776,11.343283,10.895522,11.044776,2.073467e+09,816842.0
3,2000-05-15,10.597014,11.194029,10.597014,10.597014,1.989408e+09,434831.0
4,2000-05-16,10.597014,10.746268,10.298507,10.597014,1.989408e+09,580223.0

In [78]:
THY.head()

,Date_THY,Open_THY,High_THY,Low_THY,Close_THY,Adj Close_THY,Volume_THY
0,2000-05-10,0.001870,0.001870,0.001806,0.001838,0.001694,212630653.0
1,2000-05-11,0.001806,0.001806,0.001711,0.001775,0.001636,211439905.0
2,2000-05-12,0.001806,0.001806,0.001775,0.001806,0.001664,123850733.0
3,2000-05-15,0.001775,0.001775,0.001711,0.001711,0.001577,145015837.0
4,2000-05-16,0.001743,0.001743,0.001680,0.001743,0.001606,150023501.0

In [79]:
ASELS.head()

,Date_ASELS,Open_ASELS,High_ASELS,Low_ASELS,Close_ASELS,Adj Close_ASELS,Volume_ASELS
0,2000-05-10,9.409108,9.526721,9.173880,9.409108,7.102494,44552.0
1,2000-05-11,9.173880,9.173880,9.056266,9.173880,6.924932,20159.0
2,2000-05-12,9.056266,9.409108,9.056266,9.056266,6.836151,24227.0
3,2000-05-15,8.821038,9.056266,8.703424,8.821038,6.658588,27102.0
4,2000-05-16,8.703424,8.821038,8.468197,8.703424,6.569807,44044.0

#### Tarihlerin başlangıç ve bitiş değerleri aynı olmalı.

In [80]:
print([USD_TRY["Date_USD_TRY"][0], USD_TRY["Date_USD_TRY"].iloc[-1]], 
      [XU_100["Date_XU_100"][0], XU_100["Date_XU_100"].iloc[-1]], 
      [TUPRS["Date_TUPRS"][0], TUPRS["Date_TUPRS"].iloc[-1]], 
      [THY["Date_THY"][0], THY["Date_THY"].iloc[-1]], 
      [ASELS["Date_ASELS"][0], ASELS["Date_ASELS"].iloc[-1]])

# Başlangıç Tarihi => 2005-01-03
# Bitiş Tarihi => 2021-05-05

['2005-01-03', '2021-05-12'] ['1997-07-01', '2021-05-05'] ['2000-05-10', '2021-05-12'] ['2000-05-10', '2021-05-12'] ['2000-05-10', '2021-05-12']

In [81]:
# Filtering dates before 2005-01-03 and after 2021-05-05
USD_TRY = USD_TRY.loc[(USD_TRY["Date_USD_TRY"] >= '2005-01-03') & (USD_TRY["Date_USD_TRY"] <= '2021-05-05')]
XU_100 = XU_100.loc[(XU_100["Date_XU_100"] >= '2005-01-03') & (XU_100["Date_XU_100"] <= '2021-05-05')]
TUPRS = TUPRS.loc[(TUPRS["Date_TUPRS"] >= '2005-01-03') & (TUPRS["Date_TUPRS"] <= '2021-05-05')]
THY = THY.loc[(THY["Date_THY"] >= '2005-01-03') & (THY["Date_THY"] <= '2021-05-05')]
ASELS = ASELS.loc[(ASELS["Date_ASELS"] >= '2005-01-03') & (ASELS["Date_ASELS"] <= '2021-05-05')]

In [82]:
USD_TRY

,Date_USD_TRY,Open_USD_TRY,High_USD_TRY,Low_USD_TRY,Close_USD_TRY,Adj Close_USD_TRY,Volume_USD_TRY
0,2005-01-03,1.34550,1.34550,1.33680,1.34400,1.34400,0.0
1,2005-01-04,1.33680,1.35100,1.33680,1.35100,1.35100,0.0
2,2005-01-05,1.35450,1.38650,1.35450,1.37400,1.37400,0.0
3,2005-01-06,1.37800,1.40580,1.37800,1.39250,1.39250,0.0
4,2005-01-07,1.38700,1.39400,1.36150,1.39400,1.39400,0.0
...,...,...,...,...,...,...,...
4258,2021-04-29,8.19990,8.24920,8.14060,8.18489,8.18489,0.0
4259,2021-04-30,8.20330,8.31147,8.18517,8.18488,8.18488,0.0
4260,2021-05-03,8.28770,8.33030,8.24477,8.27455,8.27455,0.0
4261,2021-05-04,8.24890,8.34394,8.24491,8.25900,8.25900,0.0
4262,2021-05-05,8.31242,8.36402,8.30031,8.31930,8.31930,0.0

In [83]:
XU_100

,Date_XU_100,Open_XU_100,High_XU_100,Low_XU_100,Close_XU_100,Adj Close_XU_100,Volume_XU_100
1959,2005-01-03,24971.699219,25508.099609,24918.199219,25445.199219,25445.199219,2.278007e+08
1960,2005-01-04,25445.199219,25602.199219,24992.800781,25042.000000,25042.000000,2.688344e+08
1961,2005-01-05,25042.000000,25042.000000,24264.000000,24422.900391,24422.900391,2.062249e+08
1962,2005-01-06,24422.900391,24588.400391,24237.699219,24561.900391,24561.900391,1.618173e+08
1963,2005-01-07,24561.900391,25308.300781,24481.099609,25308.300781,25308.300781,3.037296e+08
...,...,...,...,...,...,...,...
6176,2021-04-29,1390.900024,1406.500000,1390.900024,1401.500000,1401.500000,1.549958e+09
6177,2021-04-30,1399.099976,1405.900024,1396.500000,1397.800049,1397.800049,1.838904e+09
6178,2021-05-03,1400.199951,1421.199951,1400.199951,1421.199951,1421.199951,1.946216e+09
6179,2021-05-04,1423.199951,1428.099976,1411.000000,1416.300049,1416.300049,2.277663e+09
6180,2021-05-05,1419.599976,1425.000000,1409.300049,1420.000000,1420.000000,1.787262e+09

In [84]:
TUPRS

,Date_TUPRS,Open_TUPRS,High_TUPRS,Low_TUPRS,Close_TUPRS,Adj Close_TUPRS,Volume_TUPRS
1213,2005-01-03,13.500000,13.700000,13.500000,13.500000,3.237362,173120.0
1214,2005-01-04,13.400000,13.700000,13.300000,13.400000,3.213381,286043.0
1215,2005-01-05,12.700000,13.100000,12.600000,12.700000,3.045517,332262.0
1216,2005-01-06,12.200000,12.800000,12.000000,12.200000,2.925616,1126627.0
1217,2005-01-07,12.700000,13.600000,12.500000,12.700000,3.045517,3214498.0
...,...,...,...,...,...,...,...
5430,2021-04-29,87.500000,88.449997,87.250000,87.949997,87.949997,2730392.0
5431,2021-04-30,88.050003,88.800003,87.500000,87.750000,87.750000,3485955.0
5432,2021-05-03,88.000000,90.849998,87.949997,90.849998,90.849998,5176702.0
5433,2021-05-04,90.900002,91.400002,89.699997,90.150002,90.150002,4046707.0
5434,2021-05-05,90.349998,92.050003,89.800003,91.300003,91.300003,6352297.0

In [85]:
THY

,Date_THY,Open_THY,High_THY,Low_THY,Close_THY,Adj Close_THY,Volume_THY
1213,2005-01-03,1.001774,1.014454,0.995433,1.001774,0.923266,3453812.0
1214,2005-01-04,0.989093,1.014454,0.989093,0.989093,0.911579,6309848.0
1215,2005-01-05,0.932030,0.970072,0.932030,0.932030,0.858988,10116362.0
1216,2005-01-06,0.944710,0.951051,0.932030,0.944710,0.870674,3446651.0
1217,2005-01-07,0.938370,0.951051,0.932030,0.938370,0.864831,13860537.0
...,...,...,...,...,...,...,...
5430,2021-04-29,12.050000,12.070000,11.890000,11.980000,11.980000,31262763.0
5431,2021-04-30,11.960000,12.330000,11.950000,12.230000,12.230000,77606295.0
5432,2021-05-03,12.330000,12.950000,12.300000,12.920000,12.920000,99132973.0
5433,2021-05-04,13.080000,13.090000,12.620000,12.620000,12.620000,103271085.0
5434,2021-05-05,12.680000,12.710000,12.450000,12.600000,12.600000,58791952.0

In [86]:
ASELS

,Date_ASELS,Open_ASELS,High_ASELS,Low_ASELS,Close_ASELS,Adj Close_ASELS,Volume_ASELS
1213,2005-01-03,0.17348,0.174950,0.169069,0.17348,0.130952,21728937.0
1214,2005-01-04,0.17642,0.179361,0.174950,0.17642,0.133171,26989950.0
1215,2005-01-05,0.17348,0.177890,0.172010,0.17348,0.130952,14049365.0
1216,2005-01-06,0.17642,0.176420,0.173480,0.17642,0.133171,12079665.0
1217,2005-01-07,0.17642,0.176420,0.173480,0.17642,0.133171,11591151.0
...,...,...,...,...,...,...,...
5430,2021-04-29,14.96000,15.210000,14.960000,15.02000,15.020000,14062484.0
5431,2021-04-30,15.05000,15.200000,14.950000,15.00000,15.000000,15692828.0
5432,2021-05-03,15.04000,15.140000,15.010000,15.11000,15.110000,11659676.0
5433,2021-05-04,15.14000,15.160000,14.910000,14.91000,14.910000,12450217.0
5434,2021-05-05,14.94000,14.950000,14.720000,14.91000,14.910000,11202145.0

In [73]:
pd.merge(pd.merge(pd.merge(THY, ASELS, on=["Date"], how="inner"), TUPRS, on=["Date"], how="inner"), XU_100, on=["Date"], how="inner")

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,...,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
0,2005-01-03,1.001774,1.014454,0.995433,1.001774,0.923266,3453812.0,0.17348,0.174950,0.169069,...,13.500000,13.500000,3.237362,173120.0,24971.699219,25508.099609,24918.199219,25445.199219,25445.199219,2.278007e+08
1,2005-01-04,0.989093,1.014454,0.989093,0.989093,0.911579,6309848.0,0.17642,0.179361,0.174950,...,13.300000,13.400000,3.213381,286043.0,25445.199219,25602.199219,24992.800781,25042.000000,25042.000000,2.688344e+08
2,2005-01-05,0.932030,0.970072,0.932030,0.932030,0.858988,10116362.0,0.17348,0.177890,0.172010,...,12.600000,12.700000,3.045517,332262.0,25042.000000,25042.000000,24264.000000,24422.900391,24422.900391,2.062249e+08
3,2005-01-06,0.944710,0.951051,0.932030,0.944710,0.870674,3446651.0,0.17642,0.176420,0.173480,...,12.000000,12.200000,2.925616,1126627.0,24422.900391,24588.400391,24237.699219,24561.900391,24561.900391,1.618173e+08
4,2005-01-07,0.938370,0.951051,0.932030,0.938370,0.864831,13860537.0,0.17642,0.176420,0.173480,...,12.500000,12.700000,3.045517,3214498.0,24561.900391,25308.300781,24481.099609,25308.300781,25308.300781,3.037296e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4217,2021-04-29,12.050000,12.070000,11.890000,11.980000,11.980000,31262763.0,14.96000,15.210000,14.960000,...,87.250000,87.949997,87.949997,2730392.0,1390.900024,1406.500000,1390.900024,1401.500000,1401.500000,1.549958e+09
4218,2021-04-30,11.960000,12.330000,11.950000,12.230000,12.230000,77606295.0,15.05000,15.200000,14.950000,...,87.500000,87.750000,87.750000,3485955.0,1399.099976,1405.900024,1396.500000,1397.800049,1397.800049,1.838904e+09
4219,2021-05-03,12.330000,12.950000,12.300000,12.920000,12.920000,99132973.0,15.04000,15.140000,15.010000,...,87.949997,90.849998,90.849998,5176702.0,1400.199951,1421.199951,1400.199951,1421.199951,1421.199951,1.946216e+09
4220,2021-05-04,13.080000,13.090000,12.620000,12.620000,12.620000,103271085.0,15.14000,15.160000,14.910000,...,89.699997,90.150002,90.150002,4046707.0,1423.199951,1428.099976,1411.000000,1416.300049,1416.300049,2.277663e+09
4221,2021-05-05,12.680000,12.710000,12.450000,12.600000,12.600000,58791952.0,14.94000,14.950000,14.720000,...,89.800003,91.300003,91.300003,6352297.0,1419.599976,1425.000000,1409.300049,1420.000000,1420.000000,1.787262e+09